---
const threeCol = Astro.slots.has("center");
---

<div class="flex row flex-wrap content-start">
  <div class="col basis-1/3 p-2 min-w-72">
    <slot name="left">
      <slot />
    </slot>
  </div>
  {
    threeCol && (
      <div class="col basis-1/3 p-2 min-w-72">
        <slot name="center">
          <slot />
        </slot>
      </div>
    )
  }
  <div class="col basis-1/3 p-2 min-w-72">
    <slot name="right">
      <slot />
    </slot>
  </div>
</div>
